.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid #000000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
  padding: 10px 0;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-brand {
  font-size: 1.5em;
  color: #000000;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #8e75ff;
}
